<div class="login-container">
  <h2>Login Tweeter</h2>

  <div class="form-group">
    <label>Username</label>
    <input type="text" placeholder="your username" [(ngModel)]="username" />
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" placeholder="your password" [(ngModel)]="password" />
  </div>

  <div class="form-group">
    <button (click)="callLogin()">log in</button>
  </div>

  <div class="form-links">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </div>

  <div class="form-links">
    <span>new?</span> <a routerLink="/newuser">create account</a>
  </div>
</div>
